REACT_APP_FIREBASE_API_KEY=AIzaSyADD-3HpOChd_hUQlQSKZiHQWoWm93nQ1M
REACT_APP_FIREBASE_AUTH_DOMAIN=splitease-48786.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=splitease-48786
REACT_APP_FIREBASE_STORAGE_BUCKET=splitease-48786.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=301180896720
REACT_APP_FIREBASE_APP_ID=1:301180896720:web:cb0a9640da86d941ffe5d5
REACT_APP_FIREBASE_measurementId=G-072QC7BDSX
REACT_APP_API_URL=http://localhost:5000
